//Colours:
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$pageBgnd: hsl(224, 100%, 92%);
$desatBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$white: hsl(0, 0%, 100%);
$orderDisplayBgnd: hsl(230, 75%, 98%);
$hoverBlue: hsl(245, 83%, 68%);



body{
    background-color: $pageBgnd;
    font-family: 'Red Hat Display', sans-serif;
    align-content: center;
}

#centre-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    background-color: $white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

#top-image{
    width: 100%;
}

h1{
    font-weight: 900;
    font-size: 16pt;
    color: $darkBlue;
    margin: 28px auto auto auto;
}

p{
    font-weight: 500;
    color: $desatBlue;
    margin: 12px 30px auto 30px;
    line-height: 18pt;
}

#order-display{
    background-color: $orderDisplayBgnd;
    margin: 25px auto auto auto;
    width: 85%;
    border-radius: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;

    div{ //for stacked text
        color: green;
        margin: auto auto auto -15px;
    }

}

#music-icon{
    width: 50px;
    height: 50px;
    margin: 15px 32px 15px 15px;
}

#plan-name{
    margin: auto;
    color: $darkBlue;
    font-weight: 900;
    font-size: 11pt;
}

#price{
    margin: -4px auto auto auto;
    font-weight: 500;
    font-size: 11pt;
}

#change-link{
    color: $brightBlue;
    text-decoration: underline;
    font-size: 10pt;
    font-weight: 700;
    margin: auto 13pt auto auto;
    &:hover{
        color: $hoverBlue;
        text-decoration: none;
    }
}

#proceed-button{
    margin: 25px auto 25px auto;
    border: none;
    background-color: $brightBlue;
    color: $pageBgnd;
    font-weight: 900;
    font-size: 11pt;
    border-radius: 10px;
    width: 85%;
    height: 50px;
    &:hover{
        background-color: $hoverBlue;
        text-decoration: none;
    }
}

#cancel-link{
    display: inline-block;
    color: $desatBlue;
    font-weight: 900;
    padding-bottom: 30px;
    &:hover{
        color: $darkBlue;
    }
}

@media only screen and (min-width: 600px){
    #centre-card{
        width: 450px;
    }

    h1{
        font-size: 20pt;
        margin: 40px auto 17px auto;
    }

    p{
        font-size: 13pt;
        margin: auto 65px auto 65px;
        line-height: 25px;
    }

    #order-display{
        width: 355px;
        height: 100px;

    }

    #music-icon{
        margin: 28px 32px 15px 15px;
    }

    #plan-name{
        font-size: 12pt;
    }
    #price{
        font-size: 13pt;
        margin-top: 0px;
    }
    
    #proceed-button{
        width: 355px;
    }

    #cancel-link{
        padding-bottom: 40px;
    }

    




}









.attribution{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-family: 'Arial';
    font-size: 8pt;
}